.movies-container{
    padding-top: 15px
}

#rented-container{
    padding-top: 30px;
    animation: slide-up 0.4s ease;
}

#no-rental-message{
    position:absolute;
    right: 50px;
    padding: 7px;
    background-color: rgb(37, 36, 36);
    z-index: 1;
    top: 100px;
    animation: slide-up 0.4s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#budget-message{
    position:absolute;
    right: 50px;
    padding: 7px;
    background-color: rgb(37, 36, 36);
    z-index: 1;
    top: 140px;
}

.movies-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
    padding: 20px;
}

.box-label{
    display: inline-block;
    color: #fff;
    margin-left: 20px;
}


